Checks: >
        -*,
        bugprone-*,
        cert-*,
        clang-*,
        cppcoreguidelines-*,
        google-*,
        hicpp-*,
        llvm-*,
        misc-*,
        modernize-*,
        mpi-*,
        objc-*,
        performance-*,
        readability-*,
        boost-use-to-string,
        -llvm-header-guard,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-pro-type-union-access,
        -readability-magic-numbers,
        -readability-identifier-length

HeaderFilterRegex: 'build.*(?!moc_).*$'
